@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    --tw-gradient-from: #60a5fa;
    --tw-gradient-to: #60a5fa;
    --tw-gradient-stops: var(--tw-gradient-from), #93c5fd, var(--tw-gradient-to, rgba(147, 197, 253, 0));
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}